<AppActionBar isBackActive="true"></AppActionBar>
<StackLayout>
  <!--<ListPicker [items]="items"></ListPicker>-->
  <!--<DatePicker #datePicker (loaded)="configure(datePicker)" verticalAlignment="center"></DatePicker>-->
  <Button text="Select Week" (tap)="selectWeek()"></Button>
  <Button text="Dialog" (tap)="showDialog()"></Button>
  <Button text="Select Date" (tap)="selectDate()"></Button>
  <Button text="Flashlight" (tap)="flashlight()"></Button>
  <Button text="Add Record" (tap)="back()"></Button>
</StackLayout>
